doctype html
html(lang='en')
  head
    title Jade
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.4.1/css/reveal.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.4.1/css/theme/league.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.4.1/js/reveal.min.js')
  body
    .slides
      .slide
        h1 Assignment :: 05.02
